
    <footer class="footer-section">
        <div class="container">         
          <div class="row text-center">
            <div class="col-md-12">
              <div class=" pt-5">
                <p>
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script> 
                  All rights | tous les droits reservés <i class="icon-heart" aria-hidden="true"></i>  Team Devops
                </p>
              </div>
            </div>  
          </div>
        </div>
      </footer>