<div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Players</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <h3 class="mb-4"><a>{{p.teamPlayer}}</a></h3>
          <p>{{p.postePlayer}}</p>
          <p><a>{{p.numPlayer}}</a></p>
          <p><a>{{p.playerName}}</a></p>

        </div>
      </div>
    </div>

  </div>
</div>